# Node & Backend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
.idea/
.vscode/

# Mobile Builds
*.apk
*.aab
*.ipa

# OS files
.DS_Store
Thumbs.db
